.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-submit {
  display: flex;
  flex-direction: column;
}
.register-submit button {
  height: 30px;
  margin-bottom: 10px;
  background-color: #77ec90;

}
.register-submit-button-back {
    display: flex;
    justify-content: center;
}
.register-submit-button-back button {
    width: 100px;
    background-color: #f2ac5c;

}