.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.home-container h1 {
    font-size: 82px;
}
.home-container button {
    width: 180px;
    height: 40px;
    background-color: #0867;
    cursor: pointer;

}